<html>
    <head>

<link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{>header}}
        <h1>from home.hbs file</h1>
        <h1>{{title}}</h1>

        {{>footer}}
    </body>
</html>