<html>
    <head>

<link rel="stylesheet" href="css/styles.css">
<title>weather</title>
    </head>
    <body>

        {{>header}}
        <h1>from home.hbs file<i class="fas fa-cloud-sun"></i></h1>
        <h1>{{title}}</h1>
        <form action="">
            <input type="text" placeholder="location">
        </form>
        <button>submit</button>
        <p></p>
        <p></p>

        {{>footer}}
        <script src="js/weather.js"></script>
    </body>
</html>